body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem; /*tamaño de las letras*/
  line-height: 1.6em; /* interlineado */
  margin: 0;
}

h1 {
  font-size: 2rem;
  line-height: 1.3em;
}

/* parrafos */
p {
  margin-bottom: 1.6em; /*margen inferior funciona como enter entre parrafos*/
}


.header{
	position: relative;
	overflow: hidden;	
	flex-wrap: wrap;
	width: 100%;
}

.fondo{
	margin:0;
	width: 100%;
	height: 100vh;
	filter: brightness(0.8);
	background-size: cover;
	box-sizing: border-box;
	/*background-origin: center;
	background-attachment: fixed;*/
	-webkit-background-size:cover;
	transition: all .5s;
}
.shop-now{
	z-index: 100;
	position: absolute;
	top: 35%;
	left: 10%;
}
.shop-now h1{
	top: 3.5em;
	left: 1.2em;
	font-size: 4.2rem;
	font-weight: 900;
	color: #fff;
	transition: all .5s;
	/*text-shadow: 4px 4px 5px black;*/
}
.shop-now a{
	margin: auto;
	background: #fff;
	padding: 10px 15px;
	transition: all 0.5s;
	text-decoration: none;
	color: #333;
}
.shop-now a:hover{
	background: #000;
	color: white;
}


.logo{
	background-image: url(../imagenes/logo2.png);
	/*background-repeat:no-repeat;*/
	width: 120px;
	height:100px;
	background-size: contain;
	margin-left: 10%;
	transition: all .8s;
}
.logo a img{
	width: 120px;
	margin-bottom: -20px;
}
.logo-nav{
	background: rgb(51,51,51,0.3);	
	position: absolute;
	top: 0;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	transition: all .8s;
}
/*----------MENU NAVEGACIÓN--------------*/
.nav-bar{
	display: inline;
	cursor: pointer;
	font-size: 2em;
	color: #cecece;
}
.nav-bar i{
	position: absolute;
	top: 3%;
	right: 5%;
}
.nav-bar i:hover{
	color: #fff;
}
.menu, .submenu{
	list-style: none;
	padding: 0;
	margin: 0;
}
.menu{
	text-align: center;
	z-index: 1000;
	width: 100%;
	position: absolute;
	top: 14%;
	background-color: rgb(255,255,255,.9);
	margin-left: -100%;
	transition: all .7s;
}
.menu__link{
	display: block;
	padding: 30px;
	color: #444;
	text-decoration: none;
}
.submenu .menu__link{
	background: rgb(150,150,150,.8);
	padding-left: 40px;
}

.submenu{
	height: 0;
	overflow: hidden;
	transition: all .6s;
}
.mostrar{
	margin-left: 0;
}

.icon-menu{
	transition: transform .5s;
}
/*---------CONFIGURACION PARA COMPUTADORAS---------*/
@media(min-width: 1024px){
	.nav-bar{
		display: none;
	}
	.menu{
		z-index: 800;
		top: 10px;
		right: 7%;
		width: auto;
		background:none;
		font-size: .8em;
		display: flex;
	}
	.menu__link{
		display: inline-block;
		transition: color .5s;
	}

	.menu__link:hover{
		color: #fefefe;
		
	}
	.container-submenu{
		position: relative;
	}

	.submenu{
		position: absolute;
		top:60px;
		overflow: visible;
		opacity: 0;
		visibility: hidden;
	}
	.submenu .menu__link{
		background:rgb(51,51,51,0.3);
		z-index: 1000;
		width: 200px;
		padding-left: 15px;
	}

	.container-submenu:hover .submenu{
		opacity: 1;
		visibility: visible;
	}

	.submenu-btn:hover > .icon-menu{
		transform: rotate(0.5turn);
	}
}








.main{
	margin-top: 70px;
	margin:0px;
}
.footer{
	margin-top: 100px;
	padding: 80px;
	text-align: center;
	background: #cecece;
}
.footer i{
	font-size: 30px;
}
.footer a{
	color: black;
}
.nav-icon{
	display: none
}
.tres-bloques{
	margin: 0px 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.container1, .container2, .container3{
	margin-top: 100px;
	display: inline-block;
	color: white;
	width: 30%;
	height: 450px;
	min-width: 300px;
	max-height: 450px;
	background: #333;
}
.container1{
	background-image: url('../imagenes/tresbloques1.jpg');
	background-size: cover;
	background-position: center;
}
.container2{
	background-image: url('../imagenes/tresbloques2.jpg');
	background-size: cover;
	background-position: center;
}
.container3{
	background-image: url('../imagenes/tresbloques3.jpg');
	background-size: cover;
	background-position: center;
}
.container1 p:first-child{
	line-height: 50px;
	font-size: 40px;
	font-weight: 500;
	margin-left: 40px;
	margin-top: 100px;
}
.container1 p:nth-child(2){
	margin-left: 40px;
	font-size: 20px;
	font-weight: 500;
}
.container1 a {
	font-size: 17px;
	font-weight: 500;
	color: #333;
	padding: 15px;
	margin-left: 40px;
	background: white; 
	text-decoration: none;
	transition: all 0.3s;
}
.container1 a:hover, .container2 a:hover, .container3 a:hover{
	background: #000;
	color: white;
}

.container2 p, .container3 p{
	line-height: 50px;
	font-size: 40px;
	font-weight: 500;
	margin-left: 40px;
	margin-top: 240px;
}
.container2 a , .container3 a{
	position: relative;
	top: -35px;
	font-size: 17px;
	font-weight: 500;
	color: #333;
	padding: 15px;
	margin-left: 40px;
	background: white; 
	text-decoration: none;
	transition: all 0.3s;
}

.productos-destacados{
	margin-top: 100px;
	height: 100vh;
	background: #f4f4f4;
	width: 100%;
}
.productos-destacados h2{
	font-size: 2.7rem;
	font-weight: 500;
	padding-top: 70px;
	text-align: center;
}

/*---------SUBMENU PRODUCTOS-------*/
/*.linkprod{
	border:2px solid green;
	padding: 5px; 
}
.submenu-prod {
	display:none;
	position: absolute;
	border:2px solid red;
}
.linkprod:hover ~ .submenu-prod{
	display: block;
	transition: all .8s;
}

.submenu-prod li{
	border:2px solid blue;
	display:block;
}*/

@media only screen and (max-width: 400px){
	.header h1{
		font-size: 3rem;
		top: 5.5em;
		left: 1em;
	}
	.shop-now a{
		left: 2.8em;
	}
}
@media only screen and (max-width: 380px){
    .nav-icon{
    	position: relative;
    	margin: 0;
    	display: inline-block;
    }
}
