body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem; /*tamaño de las letras*/
    line-height: 1.6em; /* interlineado */
    margin: 0;
}
.header{
    text-align: center;
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 100;
}
.logo a img{
    width: 95px;
    height: 80px;
}
.icon-back {
    position: absolute;
    top:1.5rem;
    right: 3rem;
    
}
.icon-back a i{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.icon-back a{
    text-decoration: none;
}

.logo-back{
    background-color:  rgb(51,51,51,0.5);
    text-align: center;
}
.fondo{
    position: absolute;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-size: cover;
    background-image: url('../sign-in/img/login-background.jpg');
}
.formulario{
    position: absolute;
    background-color:  rgb(51,51,51,0.4);
    text-align: center;
    color: white;
    width: 600px;
    height: 500px;
    top: 100px;
    left: 400px;
    border-radius: 5px;
}
#iniciar-sesion{
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
}
/*.formulario form input{
    width: 350px;
    height: 30px;
    border:0 ;
    border-radius: 15px;
    outline: none;
    text-align: center;
}*/
.user input{
    width: 350px;
    height: 30px;
    border:0 ;
    border-radius: 15px;
    outline: none;
    text-align: center;
}
.user label{
    font-size: 12px;
    margin:0;
    position: relative;
    left: -90px;
    display: block;
}
.password{
    margin-top: 25px;
}
.password label{
    font-size: 12px;
    margin:0;
    position: relative;
    left: -135px;
    display: block;
}
.password a{
    color: white;
    font-size: 12px;
    display: block;
    text-decoration: none;
    
}
.password input{
    width: 350px;
    height: 30px;
    border:0 ;
    border-radius: 15px;
    outline: none;
    text-align: center;
}
.button-login {
    margin-top:45px;
}
.button-login input{
    font-weight: 700;
    background-color: #99d8ef;
    color:white;
    width: 350px;
    height: 50px;
    border-radius: 15px;
    outline: none;
    border:0;
    letter-spacing: 4px;
    font-size: 15px;
    transition: all .3s;
    
}
.button-login input:hover{
    cursor:pointer;
    color:black;
}
.button-login a{
    color:white;
    text-decoration: none;
    transition: all .2s;
}
.button-login a:hover{
    color:black;
    text-decoration: none;
}
.button-login p{
    margin:0;
    font-size: 15px;
}

/*--------DIVS DE ERRORES DEL FORMULARIO-------- */
#error-user{
    font-size: 15px;
    color:#e01010;
    position: absolute;
    left: 180px;

}
#error-password{
    font-size: 15px;
    color:#e01010;
    position: absolute;
    left: 200px;
}