body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem; /*tamaño de las letras*/
    line-height: 1.6em; /* interlineado */
    margin: 0;
}
.header{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 100;
}
.logo-back{
    background-color:  rgb(51,51,51,0.5);
    width: 100%;
    height: 15vh;
}
.logo a img{
    position: relative;
    top:0.6rem;
    width: 95px;
    height: 80px;
    left:10%;
}
.icon-back {
    position: absolute;
    top:1.5rem;
    right: 5%;
}
.icon-back a i{
    font-size: 30px;
    text-decoration: none;
    color: white;
}
.icon-back a{
    text-decoration: none;
}


 .fondo{
    position: absolute;
    top:0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('fondo.jpg');
}

.formulario{
    padding: 2rem;
    position: absolute;
    background-color:  rgb(51,51,51,0.4);
    text-align: center;
    color: white;
    top: 17%;
    left: 18%;
    width: 60%;
    height: 70vh;
    border-radius: 5px;
}

#iniciar-sesion{
    margin-top: 0;
    font-size: 2rem;
    font-weight: 800;
} 
.formulario form input{
    width: 25rem;
    height: 2.1rem;
    border:0;
    border-radius: 15px;
    outline: none;
    text-align: center;
}

/*INPUT NOMBRE*/
.name label{
    font-size: .9rem;
    margin:0;
    position: relative;
    display: block;
}

/*INPUT EMAIL*/
.email {
    margin-top: 2rem;
}
.email label{
   font-size: .9rem;
    margin:0;
    position: relative;
    display: block; 
}
/*INPUT TELÉFONO*/
.phone{
    margin-top:2rem;
}

.phone label{
    font-size: .9rem;
    margin:0;
    position: relative;
    display: block;
}

/*INPUT PASSWORD*/
.password{
    margin-top: 2rem;
}

.password label{
    font-size: .9rem;
    margin:0;
    position: relative;
    display: block;
}



.button-login {
    margin-top:45px;
}

.button-login input{
    font-weight: 700;
    background-color:#e5d9bb;
    color:black;
    border-radius: 15px;
    outline: none;
    border:0;
    letter-spacing: 4px;
    font-size: 15px;
    transition: all .3s;
    
}

.button-login input:hover{
    cursor:pointer;
    color:white;
}


/*--------DIVS DE ERRORES DEL FORMULARIO-------- */
 #error-user{
    font-size: 15px;
    color:#e01010;
    position: absolute;
    left: 15rem;
}
#error-password{
    font-size: 15px;
    color:#e01010;
    position: absolute;
    left: 15rem;
} 

/* AJUSTAR PANTALLA */
@media only screen and (max-width: 730px){
    .formulario{
        left:2%;
        transition: all .8s;
        padding: 0;
        width: 96%;
        height: 80%;
    }
    .formulario form input{
        width: 80%;
    }
    .user label{
        display: inline;
        font-size: .8rem;
        left:2%;
    }
    .password label{
        display: block;
        font-size: .8rem;
        width: auto;
        left: 2%;
    }
    .button-login{
        margin-top: 3.8rem;
    }
    #error-user{
        font-size: .8rem;
        left:2.5rem;
    }
    #error-password{
        font-size: .8rem;
        left:3rem;
    }
}
